.button {
  width: max-content;
  height: min-content;
  display: flex;
  align-items: center;
  column-gap: unit-converter(8, px, rem);
  padding: unit-converter(24, px, rem);
  font-weight: 600;
  color: $light-color;
  background-color: $secondary-color;
  border: 0px none transparent;
  border-radius: unit-converter(12, px, rem);

  &:hover {
    @extend %button-interactive-state-outline;
    cursor: pointer;
  }

  &:focus {
    @extend %button-interactive-state-outline;
  }

  &:focus-visible {
    @extend %button-interactive-state-outline;
  }

  &:active {
    color: $light-color;
  }

  &--cta {
    margin-bottom: unit-converter(184, px, rem);
  }

  &--sx {
    padding: unit-converter(10, px, rem);
  }

  &--secondary {
    font-weight: normal;
    color: $secondary-color;
    background-color: scale-color(
      $color: $light-color,
      $lightness: -10%
    );
    opacity: 100%;
  }

  &--link:visited {
    color: scale-color($secondary-color, $lightness: 10%);
  }

  &--newsletter-subcription-form {
    width: unit-converter(72, px, rem);
    height: unit-converter(72, px, rem);
    margin-bottom: 0px;
  }

  @media (max-width: 629px) {
    &--cta {
      margin-bottom: 4rem;
      padding: unit-converter(20, px, rem);
      font-size: $font-size-xs;
    }

    &--md {
      width: unit-converter(112, px, rem);
      height: unit-converter(48, px, rem);
      margin-inline: auto;
      justify-content: center;
    }

    &--link {
      font-size: $font-size-xs;
    }

    &__icon {
      width: unit-converter(20, px, rem);
      height: unit-converter(20, px, rem);
    }
  }
}
