.form-control {
  padding: 0px;
  font-size: $font-size-sm;
  font-weight: 600;
  color: $dark-color;
  background-color: transparent;
  border: 0px none transparent;

  @media (max-width: 629px) {
    font-size: $font-size-xs;
  }
}
