/* ### h+N tag */

@import "../utils/variables/colors";
@import "../utils/functions/unit-converter";

h1 {
  @extend %title;

  margin-bottom: 1rem;
  text-align: center;
  font-size: $font-size-xxl;
  color: $light-color;
  margin-bottom: unit-converter(32, px, rem);

  @media (max-width: 629px) {
    font-size: $font-size-xl;
  }
}

h2 {
  @extend %title;

  font-size: $font-size-xl;
  margin-bottom: unit-converter(64, px, rem);

  @media (max-width: 629px) {
    font-size: $font-size-l;
  }
}

h3 {
  @extend %title;
  
  font-size: $font-size-sm;
  margin-bottom: 0.5rem;
}
