@import "../utils/functions/unit-converter";

.search-form {
  width: 80%;
  padding: unit-converter(8, px, rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-color;
  border-radius: unit-converter(12, px, rem);

  @media (max-width: 629px) {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: unit-converter(10, px, rem);
    border-radius: 0px;
  }
}
